body{
    background-color: #6e5188;
}
.titulo{
    font-size: 300%;
    color: white;
}
.Frase{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: white;
}
.local{
    width: 500px;
}
.local-nome{
    color: white;
    
}
.lista{
    color: white;
    list-style: none;
    
}